/* Base */

* { margin: 0; padding: 0;}

html, body {height: 97%;}

body {
    font-family: "微软雅黑", Helvetica, sans-serif;
    line-height: 1.6;
    font-weight: 300;
    background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: 400;}

a {color: #7c7c7c; text-decoration: none;}
a:hover {color: #000;}
a:visited {color: #7c7c7c;}

/*Header*/
.site-header {
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background: #465653;
    position: relative;
}

.site-header ul{
    list-style: none;
    position: absolute;
    right: 320px;
}

.site-header ul li{
    color: #FFFFFF;
    float: left;
    line-height: 50px;
    width: 80px;
    text-align: center;
}

.site-header ul li a{
    color: #fff;
}

.site-header ul li:hover{
    background: #1ABC9C;
}

/* #navbar1 {
    position: absolute;
    left: 100px;
} */

#navbar1 ul li {
    text-align: center;
}

/*Footer*/
.foot {
    width: 170px;
    margin: 0 auto;
}

/*page content style*/
.page-content {
    padding-top: 70px;
    background: #fbfbfb;
    padding-bottom: 0px;
    height: auto;
    min-height: 100%;
}

.page-content .wrap{padding-bottom: 50px;}

/*Home*/
.home {
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.home h1 {margin-bottom: 1px;}

/*archive*/
.posts {
    list-style: none;
}

.posts li {margin-bottom: 10px;}

.posts li a{
    color: #bb2222;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.6;
    margin-left: 5px;
}

.listing-seperator {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #4c4b4b;
    padding-bottom: 20px;
}

.listing-seperator:before{
    color: #ccc;
}

.listing-item time {
    color: #999;
    font-size: 15px;
}

.listing-item a {
    padding-left: 2em;
}

time {font-family: "Ubuntu", monospace;}

/*category*/
.category {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
    padding-right: 80px;
}

.category .title a{
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #bb2222;
}

.category p {
    font-size: 28px;
    margin-top: 10px;
}

.category li {
    list-style: none;
    margin: 0 0 0 35px;
    line-height: 1.5;
    font-size: 22px;
}

.category a {
    color: #bb2222;
    font-size: 19px;
}

.category li a {
    color: #525252;
    padding-left: 30px;
    font-size: 17px;
}

/*post style*/
.post {
    width: 800px;
    height: 500px;
    margin:auto;
    padding-bottom: 20px;
}

.post-header {
    line-height: 3;
}

.post-header h1 {
    font-size: 1.4em;
    line-height: 1;
    font-weight: bold;
    color: #333;
}

.post-content {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 60px;
}

.post-content > * {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}
