/* Base */

* { margin: 0; padding: 0;}

html, body {height: 100%;}

body {
    font-family: "微软雅黑", Helvetica, sans-serif;
    line-height: 1.6;
    font-weight: 300;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: 400;}

ul {list-style: none;}

a {color: #7c7c7c; text-decoration: none;}
a:hover {color: #000;}
a:visited {color: #7c7c7c;}

.container {
    background-color: #fff;
    margin: 5px auto;
}
.nocontainer {
    background-color: #eee;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 50px;
}

hr {
    color:black;
}
/*Header*/
#nav1 {
    background: #465653;
}

#navbar1 ul{
    margin-right: 10%;
    margin-left: 10%;
} 

#navbar1 ul li {
    text-align: center;
}

#navbar1 ul li a{
    color: #fff;
}

#navbar1 ul li:hover {
    background: #17A388;
}

/*Footer*/
#footDiv {
    width: 100%;
    height: 50px;
    background: #F5F5F5;
}

.foot {
    width: 170px;
    padding-top: 15px;
    margin: 0 auto;
} 

/*archive*/
.posts {
    list-style: none;
}

.posts li {margin-bottom: 10px;}

.posts li a{
    color: #bb2222;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.6;
    margin-left: 5px;
}

li.listing-seperator {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #4c4b4b;
    padding-bottom: 20px;
}

li.listing-seperator:before{
    color: #ccc;
}

li.listing-item time {
    color: #999;
    font-size: 15px;
}

li.listing-item a {
    padding-left: 2em;
}

time {font-family: "Ubuntu", monospace;}

/*totop*/
#totop {
    position: fixed;
    bottom: 10%;
    right: 0;
    display: none;
}

#totop a {
    text-align: center;
    text-decoration: none;
    color: #d1d1d1;
    display: block;
    width: 64px;
    transition: color 1s;
}

#totop a:hover {
    color: #979797;
}

#totop a span {
    background:  transparent url(../img/totop.png) no-repeat 0px 10px;
    display: block;
    height: 64px;
    width: 56px;
    margin-top: 5px;
    margin-left: 6px;
}

/*category*/
.wrap:before, .wrap:after { content:""; display: table;}
.wrap:after {clear: both;}
.wrap {
    max-width: 830px;
    margin: 0 auto;
    zoom: 1;
    text-align: left;
}

.category {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
}

.category .title a{
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #bb2222;
}

.category p {
    font-size: 28px;
    margin-top: 10px;
}

.category li {
    list-style: none;
    margin: 0 0 0 35px;
    line-height: 1.5;
}

.category a {
    color: #bb2222;
    font-size: 19px;
}

.category li a {
    color: #525252;
    padding-left: 30px;
    font-size: 15px;
}

.category .title a {
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #bb2222;
}

.category-number {
    font-size: 15px;
    margin-bottom: 15px;
    vertical-align: text-top;
    color: rgba(170, 165, 165, 0.96);
    padding-left: 4px;
}

.category .category-date {
    display: inline-block;
    font-size: 15px;
    color: #818181;
}

/*post style*/
.post {
    width: 100%;
}

.post-header {
    line-height: 3;
}

.post-header h1 {
    font-size: 1.4em;
    line-height: 1;
    font-weight: bold;
    color: #333;
}

.post-header .meta {
    font-size: 13px;
    color: #818181;
}

.post-header .meta .pre {
    font-weight: bold;
    color: #333;
}

.post-content {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 60px;
}

.post-content > p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

/*index*/
#imgDiv {
    width:240px;
    margin: 10px auto;
}

#indexDiv {
    width: 500px;
    margin: 0 auto;
}

#div1 ul {
    border: 1px solid rgb(226,222,222);
    border-radius: 10px;
    list-style-position: inside;
    font-size: 16px;
    line-height: 26px;
    padding: 1em 1.5em;
    overflow: hidden;
}

/*tests*/
.row{
    margin-top: 10px;
    margin-bottom: 0px;
}
[class*="col-"]{
    padding-top: 15px;
    padding-bottom: 15px;
}
#test1, #test2, #test3,#test4,#test5,#test6,#test7,#test8,#test9 {
    opacity: 0.5;
    padding: 5px;
}

#test1:hover{
    opacity: 1;
}

#test2:hover{
    opacity: 1;
}

#test3:hover{
    opacity: 1;
}

#test4:hover{
    opacity: 1;
}

#test5:hover{
    opacity: 1;
}

#test6:hover{
    opacity: 1;
}

#test7:hover{
    opacity: 1;
}

#test8:hover{
    opacity: 1;
}

#test9:hover{
    opacity: 1;
}

#test1 {
    background: red;
}

#test2 {
    background: yellow;
}

#test3 {
    background: green;
}

#test4 {
    background: #808000;
}

#test5 {
    background: #FF9900;
}

#test6 {
    background: #BFDA00;
}

#test7 {
    background: #2EBE21;
}

#test8 {
    background: #adff2f;
}

#test9 {
    background: #f0e68c;
}

/*comment*/
#comments {
    padding-top: 50px;
}

/*media queries */
@media (max-width: 767px) {
    #indexDiv {
        width: 230px;
        margin: 0 auto;
    }

    .post-header h1 {
        font-size: 36px;
    }
    .post-header {
        text-align: center;
    }
    .post-content {margin: 0 10px;}
    .post-content h2 { font-size: 28px; }
    .post-content h3 { font-size: 22px; }
    .post-content h4 { font-size: 18px; }
    .post-content blockquote { padding-left: 10px; }
    .post-content ul,
    .post-content ol { padding-left: 10px; }
    .post-header { text-align: center;}
}

@media (min-width: 768px) and (max-width: 991px){
    #indexDiv {
        width: 400px;
        margin: 0 auto;
    }
}