---
title: Tags
layout: page
permalink: /tags/
---

<div id="tag_cloud" style="position: relative; width: auto; height: 200px;">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}" style="position: absolute;">{{ tag[0] }}</a>
    {% endfor %}
</div>

<div style="width: 100%; height: 1px; background: black;"></div>

<ul class="listing">
    {% for tag in site.tags %}
    <li class="listing-seperator" id="{{ tag[0] }}">{{ tag[0] }}</li>
    {% for post in tag[1] %}
    <li class="listing-item">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %}
    {% endfor %}
</ul>

<script src="/js/jquery.windstagball.js" type="text/javascript" charset="utf-8"></script>
<script language="javascript">
   $(document).ready(function() {
    $("#tag_cloud").windstagball({
            radius:120,
            speed:10
        });
    });
</script>
