<div style="width:100%; height:50px;">
	<nav id="nav1" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button style="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar1">
			<ul class="nav navbar-nav navbar-right">
				{% for nav in site.navigations %}
	    		{% if nav.title %}
	    		<li><a href="{{ nav.href }}">{{ nav.title }}</a></li>
	    		{% endif %}
	    		{% endfor %}  
			</ul>
		</div>
	</div>
</nav>
</div>


