* {margin: 0; padding: 0;}

body {
	background: #666;
}

.playpic {
	width: 400px;
	height: 430px;
	margin: 30px auto;
	background: #999;
	position: relative;
}

.mark_left {
	width: 200px;
	height: 320px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	z-index: 3000;
}

.mark_right {
	width: 200px;
	height: 320px;
	position: absolute;
	float: left;
	right: 0;
	top: 0;
	cursor: pointer;
	z-index: 3000;
}

.btn_left {
	width: 60px;
	height: 60px;
	background: url(images/btn.gif) no-repeat;
	position: absolute;
	top: 130px;
	left: 10px;
	z-index: 3001;
	filter: alpha(opacity: 0);
	opacity: 0;
	cursor: pointer;
}

.btn_right {
	width: 60px;
	height: 60px;
	background: url(images/btn.gif) no-repeat 0 -60px;
	position: absolute;
	top: 130px;
	right: 10px;
	z-index: 3001;
	filter: alpha(opacity: 0);
	opacity: 0;
	cursor: pointer;
}

.big_pic {
	width: 400px;
	height: 320px;
	overflow: hidden;
	position: relative;
}

.big_pic li {
	width: 400px;
	height: 320px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
}

.small_pic {
	width: 380px;
	height: 94px;
	overflow: hidden;
	position: relative;
	top: 7px;
	left: 10px;
}

.small_pic ul {
	height: 94px;
	position: absolute;
	top: 0;
	left: 0;
}

.small_pic li{
	width: 120px;
	height: 94px;
	list-style: none;
	float: left;
	padding-right: 10px;
	filter: alpha(opacity: 0.6);
	opacity: 0.6;
	cursor: pointer;
}
.small_pic img{
	width: 120px;
	height: 94px;
}