* {margin: 0; padding: 0;}

ul li {list-style: none;}

#div1 {
	width: 782px;
	height: 331px;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
}

#div1 ul {
	position: absolute;
	width: 2346px;
	top: 0;
	left: 0;
}

#div1 li {
	position: absolute;
	top: 0;
	left: 0;
	//filter: alpha(opacity: 0);
	//opacity: 0;
	cursor: pointer;
}

#div2 {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 2000;
}

span {
	padding: 3px 8px;
	margin: 0 3px;
	color: yellow;
	background: #f00;
	cursor: pointer;
	text-align: center;
	border-radius: 100%;
}

.active {
	font-weight: bold;
	padding: 5px 10px;
	color: white;
}