* {margin: 0; padding: 0;}

#div1 
{
	width: 712px;
	height: 108px;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}

#div1 ul {
	position: absolute;
	left: 0;
	top: 0;
}

#div1 li {
	float: left;
	list-style: none;
	width: 178px;
	height: 108px;
}

